.navigation {
  $block-name: &; // #{$block-name}__element
  display: none;

  @media (min-width: 1280px) {
    display: flex;
  }

  &__list {
    @include ul-reset;
    display: flex;
    flex-direction: column;
    line-height: normal;

    @media (min-width: $screen-xs) and (max-width: 1279px) {
      @include container;
      padding: 93px 15px 30px !important;
    }

    @media (min-width: 1280px) {
      flex-direction: row;
      align-items: center;
      padding: 0;
    }
  }

  &__item{
    &:not(:first-child) {
      margin-top: 17px;
      @media (min-width: 1280px) {
        margin-top: 0;
        margin-left: 35px;
      }
    }
  }

  &__link{
    position: relative;
    @include font-arial(18px, $black);
    text-transform: uppercase;
    &:hover{
      color: #3896ff;;
    }

    &:before{
      @include pseudo;
      width: 0;
      height: 1px;
      bottom: -5px;
      left: 0;
      background: #3896ff;
      transition: all 0.3s;
      //transform-origin: center;
      display: none;
      @media (min-width: 1280px) {
        display: block;
      }
    }

    &:hover{
      outline: none;
      &:before {
        width: 120%;
        right: 0;
      }
    }

    &--active{
      color: #3896ff;;
      &:before {
        width: 120%;
        right: 0;
        display: none;
        @media (min-width: 1280px) {
          display: block;
        }
      }
    }
  }

  &--opened {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 100%;
    height: 100%;
    animation: show2 0.5s ease-in-out;
    background-color: rgba($white, 0.8);

    #{$block-name}__close {
      display: block;
    }
    #{$block-name}__list {
      animation: show 0.5s ease-in-out;
    }
  }
}





