.title {
  position: relative;
  margin: 0;
  @include font-primary(45px, #0a2a6a, 400);

  @media (max-width: $screen-lg) {
    font-size: 26px;
  }

  &:after{
    @include pseudo;
    bottom: -15px;
    width: 202px;
    height: 3px;
    background-color: #0a2a6a;
  }


  &--other{
    @include font-gotham(56px, #0a2a6a, 700);
    @media (max-width: $screen-xl) {
      font-size: 40px;
    }
    @media (max-width: $screen-lg) {
      font-size: 26px;
    }
  }
}
