// Подключения блоков
//@import "../blocks/button";
// Подключения спомогательных файлов
@import "../helpers/container-mixins";
@import "../helpers/variables";
@import "../helpers/mixins";
// Подключения бибилиотек
//@import "../libs/slick";


.header {
  $block-name:                &; // #{$block-name}__element

  padding: 20px 0 20px;

  &__inner{
    @include container;
    display: flex;
    align-items: center;
  }

  &__logo-link{
    z-index: 7;
  }
  &__logo{
    @media (max-width: $screen-lg) {
      width: 150px;
    }
  }
  &__burger{
    margin-left: auto;
    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__navigation-wrapper{
    background-color: #e4f2ff;
    @media (min-width: $screen-xl) {
      background-color: transparent;
    }
  }

  &__navigation{
    @media (min-width: $screen-xl) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }

  &__button{
    display: none;
    @media (min-width: $screen-xl) {
      display: inline-flex;
      margin-left: 30px
    }
    @media (min-width: $screen-xl) {
      display: inline-flex;
      margin-left: 67px;
    }
  }
}
